@media screen and (max-width:768px){
  .mat-form-field {
     width: 100%;
  }
}

@media screen and (min-width:769px){
  .mat-form-field {
     width: 33%;
  }
}
.mat-expansion-panel, .mat-card {
  margin-bottom: 5px;
}

.full-width {
  width: 100%;
}

.txtarea {
  height: 15px !important;
}


.container {
  margin: 10px;
}

.d-flex {
  display: flex;
}

.box {
  flex-grow: 1;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #000000;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
 background: #000000;
}
